arrow==0.13.0
atomicwrites==1.2.1
attrs==18.2.0
beautifulsoup4==4.7.1
binaryornot==0.4.4
certifi==2018.11.29
chardet==3.0.4
Click==7.0
cookiecutter==1.6.0
coverage==4.5.2
future==0.17.1
hupper==1.4.2
idna==2.8
Jinja2==2.10
jinja2-time==0.2.0
Mako==1.0.7
MarkupSafe==1.1.0
more-itertools==5.0.0
-e git+https://github.com/zzz-i2p/my_cool_pyramid.git@2235b0ddcf3b59828306940f84fe0b1f6373b24d#egg=my_cool_pyramid
PasteDeploy==2.0.1
pkg-resources==0.0.0
plaster==1.0
plaster-pastedeploy==0.6
pluggy==0.8.1
poyo==0.4.2
py==1.7.0
Pygments==2.3.1
pyramid==1.10.1
pyramid-debugtoolbar==4.5
pyramid-jinja2==2.8
pyramid-mako==1.0.2
pytest==4.1.1
pytest-cov==2.6.1
python-dateutil==2.7.5
repoze.lru==0.7
requests==2.21.0
six==1.12.0
soupsieve==1.7.3
translationstring==1.3
urllib3==1.26.5
venusian==1.2.0
waitress==1.2.1
WebOb==1.8.5
WebTest==2.0.32
whichcraft==0.5.2
zope.deprecation==4.4.0
zope.interface==4.6.0
